.route {
   display: inline;
   --margin: 27%;
   margin-top: 2%;
}

.hr {
   margin-top: 140%;
   width: 100%;
}

.home {
   float: left;
   margin-left: var(--margin);
}

.profile {
   float: right;
   margin-right: var(--margin);
}