.route {
   --margin: 27%;
   margin-top: 3%;
}

.router {
   width: 100%;
   border-top: 2px solid var(--tg-theme-section-separator-color);
   position: absolute;
   left: -1%;
   background-color: var(--tg-theme-bottom-bar-bg-color);
   bottom: 0;
   height: 10%;
   display: inline;
   z-index: 1;
}

.home {
   float: left;
   margin-left: var(--margin);
}

.profile {
   float: right;
   margin-right: var(--margin);
}

.icon {
   --size: 40px;
   width: var(--size);
   height: var(--size);
   stroke: black;
}