.route {
   display: inline;
   --margin: 27%;
   margin-top: 2%;
}

.hr {
   margin-top: 120%;
   width: 100%;
   border-top: 1px solid currentColor;
}

.home {
   float: left;
   margin-left: var(--margin);
}

.profile {
   float: right;
   margin-right: var(--margin);
}

.icon {
   width: 40px;
   height: 40px
}